<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Useless Adventures -- Team Nova</title>
  <link rel="stylesheet" href="/css/style_clicker.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>
<body>

    <canvas id="c"></canvas>
    <div id="message-container">
        <div id="click-message">Click anywhere for a fun surprise!</div>
        <p id="click-count">Clicks: 0</p>
        <div id="taunt-message"></div>
        <div id="next-button-container">
            <button id="next-button" style="display: none;">Move On</button>
        </div>
        
    </div>
<br>
<br>
    <footer>
        © Team NOVA -- Useless Adventures
    </footer>

    <script src="/js/script_clicker.js"></script>
</body>
</html>
